
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BebasNeue-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/BebasNeue-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BebasNeue-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*General style*/

html{
	width: 100%;
}


body{
	width: 100%;
	background: #000;
	font-size: 10px;
	font-family: 'BebasNeueRegular',arial,helvetica;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'BebasNeueRegular',arial,helvetica;
	letter-spacing: 2px;
}

h1{
	font-size: 7em;
	color: #fff;
	font-weight: bold;
	margin-bottom: 30px;
}
h2{
	font-size: 6em;
	color: #fff;	
	margin-bottom: 30px;
}

h3{
	font-size: 5em;
	color: #fff;	
	margin-bottom: 30px;
}

h4{
	font-size: 4em;
	color: #fff;	
	margin-bottom: 30px;
}

h5{
	font-size: 3em;
	color: #fff;	
	margin-bottom: 30px;
}

h6{
	font-size: 2.5em;
	color: #fff;	
	margin-bottom: 30px;
}

p{
	font-size: 1.5em;
	color: #fff;	
	margin-bottom: 30px;
	letter-spacing: 2px;

}
.blue{
	color: #419af4;
}

.cb-slideshow{
	list-style: none;
}

.logo-section{
	padding: 38px;
}

/*countdown*/

.wama-container{
	max-width: 970px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;

}
.wama-container:before,.wama-container:after{

	content: " ";
	display: table;
}

.wama-container:after{
	clear: both;
}


@media(min-width: 768){
	.wama-container{
		max-width: 750px;
	}
}
@media(min-width: 992){
	.wama-container{
		max-width: 970px;
	}
}
@media(min-width: 1200){
	.wama-container{
		max-width: 1170px;
	}
}

#countdown{
	text-align: center;
	margin: 60px 0 80px;
	padding-left: 0;
	list-style: none;
}

#countdown li{
	display: inline-block;
	width: 120px;
	height: 120px;
	font-size: 30px;
	background-color: rgb(0,0,0.3);
	color: #fff;
	list-style: none;
	line-height: 1;
	border: 5px solid #419af4;
	margin: 0 4px;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari */
	transform: rotate(-45deg);
}

#countdown .days,#countdown .hours,#countdown .minutes,#countdown .seconds{
	font-family: 'BebasNeueRegular',arial,helvetica;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg);
	margin-top: 30px;
}

#countdown .textDays,#countdown .textHours,#countdown .textMinutes,#countdown .textSeconds{
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 13px;
}

#subscription{
	clear: both;
	padding-bottom: 4em;
}

#subscription .form-control{
	width: 100%;
	height: 50px;
	font-size: 2em;
	color: #fff;
	background-color: rgba(255,255,255,.8);
	border: none;
	border-radius: 13px;
}
#subscription input{
	max-width: 100%;
	
}

#subscription .btn{
	width: 100%;
	height: 50px;
	font-size: 2em;
	color: #fff;
	border: none;
	border-radius: 13px;
	background-color: #419af4;


}
